// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
  padding-bottom: 40px;
}

  .writtenreview {
    border: 1px #333333 solid;
    width: 300px;
    padding: 5px;
    border-radius: 8px;
        margin-top: 10px;
  }

  .reviewbutton {
    background: #337ab7;
    color: white;
    border-radius: 4px;
  }